#SUBSYSTEMS=="usb", KERNELS=="1-6:1.0", DRIVERS=="ftdi_sio", SYMLINK+="CHILLER_MTA"
SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="0403",ENV{ID_MODEL_ID}=="6001", DRIVERS=="ftdi_sio", SYMLINK+="CHILLER_MTA"

SUBSYSTEM=="usb", MODE="0666", GROUP="usbusers"
