# File /etc/systemd/system/archapp.service
#

[Unit]
Description=Aprchiver Appliance
Documentation=https://epicsarchiver.readthedocs.io/
Wants=network.target network-online.target remote-fs.target
After=network.target network-online.target remote-fs.target mariadb dqioc

[Service]
Type=simple
User=darkquantum
Group=darkquantum
#Environment=JAVA_HOME=/lib/jvm/java-21-openjdk-amd64/
Environment="EPICS_PVAS_SERVER_PORT=5077"
Environment="EPICS_PVAS_BROADCAST_PORT=5078"
ExecStart=/usr/local/epics/support/archappl_v2.4.1/instances/sampleStartup.sh start
ExecStop=/usr/local/epics/support/archappl_v2.4.1/instances/sampleStartup.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
