# File /etc/systemd/system/dqioc.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start alarm_server.service
#   sudo systemctl status alarm_server.service
#   sudo systemctl stop alarm_server.service
#
# Start when computer boots:
#   sudo systemctl enable alarm_server.service
#
# Console:
#   telnet localhost 4611

[Unit]
Description=DarkQuantum IOC
Wants=network.target network-online.target remote-fs.target sys-subsystem-net-devices-eno1.device
After=network.target network-oline.target remote-fs.target sys-subsystem-net-devices-eno1.device
#After=kafka.service

[Service]
User=darkquantum
Group=darkquantum
Environment=SERVER=/home/darkquantum/epics/IOCs/DarkQuantum/iocBoot/iocdq/
Environment=PORT=4611
ExecStartPre=/bin/sleep 5

ExecStart=/usr/bin/procServ --foreground --noautorestart --name dqioc --chdir ${SERVER} --logfile ${SERVER}/console.log ${PORT} ./st.cmd
# Systemd stops alarm server by killing the process

[Install]
WantedBy=multi-user.target
