# File /etc/systemd/system/dqioc.service
#
# After changes
#   sudo systemctl daemon-reload
#
# Start/status/stop
#   sudo systemctl start alarm_server.service
#   sudo systemctl status alarm_server.service
#   sudo systemctl stop alarm_server.service
#
# Start when computer boots:
#   sudo systemctl enable alarm_server.service
#
# Console:
#   telnet localhost 4611

[Unit]
Description=Terminal Simulator
#After=kafka.service

[Service]
User=darkquantum
Group=darkquantum
Environment=SERVER=/home/darkquantum/epics/IOCs/DarkQuantum/iocBoot/iocdq/
Environment=PORT=4613
ExecStart=/usr/bin/procServ --foreground --noautorestart --name terminal --chdir ${SERVER} --logfile ${SERVER}/terminal.log ${PORT} /bin/sh
# Systemd stops alarm server by killing the process

[Install]
WantedBy=multi-user.target
